body{
	font-family: 'Saira', sans-serif;
	color: #ffffff;
	margin:0;
	background: var(--black);
	/* #08D9D6
#252A34
#FF2E63
#EAEAEA */
}
:root{
	--black:rgba(37,42,52,100%);
	--black-75: rgba(37,42,52,75%);
	--blue:rgba(8,217,214,100%);
	--blue-75: rgba(8,217,214,75%);
	--red:rgba(255,46,99,100%);
	--red-75: rgba(255,46,99,75%);
	--whited:rgba(234,234,234,100%);
	--whited-75: rgba(234,234,234,75%);
}
